<div class="container">
  <h1 class="mt-5">Список турбаз</h1>

  <%= form_tag(turbases_path, method: "get", class: "mb-3", id: "filter-form") do %>
  <div class="form-group">
    <%= label_tag "region_id", "Выберите регион" %>
    <%= select_tag "region_id", options_for_select([["Все регионы", ""], *Region.all.map { |r| [r.name, r.id] }], params[:region_id]), class: "form-control" %>
  </div>
  <% end %>

  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th>Название</th>
      <th>Город</th>
      <th>Регион</th>
      <th>Страна</th>
    </tr>
    </thead>
    <tbody>
    <% @turbases.each do |turbasis| %>
    <tr>
      <td><%= turbasis.name %></td>
      <td><%= turbasis.city.name %></td>
      <td><%= turbasis.city.region.name %></td>
      <td><%= turbasis.city.region.country.name %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "New Turbase", new_turbasis_path, class: "btn btn-success" %>
</div>

<script>
document.getElementById("region_id").addEventListener("change", function() {
  var regionId = this.value;
if(regionId === "") regionId = 0; //Не понял как передать regionId при котором будут отображаться все турбазы, сделал вот так
  var url = `/turbases/filter_by_region/${regionId}`;

  fetch(url, {
    method: "GET",
    headers: {
      "Accept": "application/json"
    }
  })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            var tableBody = document.querySelector("tbody");
            tableBody.innerHTML = "";
            data.forEach(function(turbasis) {
              var row = document.createElement("tr");
              row.innerHTML = `
              <td>${turbasis.name}</td>
              <td>${turbasis.city}</td>
              <td>${turbasis.region}</td>
              <td>${turbasis.country}</td>
        `;
              tableBody.appendChild(row);
            });
          })
          .catch(error => {
            console.error('Ошибка при выполнении AJAX-запроса:', error);
          });
});
</script>






