<div class="container">
  <h1 class="mt-5">Add a new country</h1>

  <%= form_with model: @country, local: true, class: 'mt-3' do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :population, class: 'form-label' %>
      <%= form.text_area :population, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Create Country', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to 'Back', countries_path, class: 'btn btn-secondary' %>
</div>
